%grid-container-customization {
    padding-left: var(--gap);
    padding-right: var(--gap);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container {
    @extend %grid-container-customization;
    max-width: var(--container-size);
    //* Цикл контрольных точек $grid
    @each $bp in map-keys(map-remove($grid, 'default', 'setting')) {
        //*
        @if index(map-keys(map-remove($grid, 'default', 'setting')), $bp) != 1{
            &\:#{$bp} {           
                @extend %grid-container-customization;   
                @include _media($bp) {
                    max-width: var(--container-size);
                }
            }
        }
    }
    //* full
    &-full {
        @extend %grid-container-customization;
    } 
}
