//? Инициализируем свойства для работы с классом .lvl-*
.box-y {
    &[class*=" lvl-"], 
    &[class|="lvl"] {
        align-items: var(--justify);
        justify-content: var(--align);
    }
    @each $bp in _bp($no-default: true) {
        &\:#{$bp}[class*=" lvl-"], 
        &\:#{$bp}[class|="lvl"] {
            @include _media($bp) {
                align-items: var(--justify);
                justify-content: var(--align);            
            }
        }
    }
}
//? Под вопросом [class*="lvl-"]