$breakpoints:(
    'setting': (
        default-mod: 'max',

    ),
    'max':(
        mb: 540px,      // mobile
        pb: 768px,      // phablet
        tb: 1000px,     // tablet
        lt: 1280px      // laptop
    ),
    'only':(
        pb: 540px,     // phablet
        tb: 768px,     // tablet
        lt: 1000px,    // laptop
        dt: 1280px     // desktop
    ),
    'list':(
        'default',
        'mb',
        'pb',
        'tb',
        'lt',
        'dt'
    ),
);