$grid:(
    'mb':(
        columns: 4,
        gap: 16px,
        container-size: 100%,
        container-bp: false,
    ),
    'pb':(
        columns: 6,
        gap: 16px,
        container-size: 528px,
        container-bp: true,
    ),
    'tb':(
        columns: 8,
        gap: 24px,
        container-size: 768px,
        container-bp: true,
    ),
    'lt':(
        columns: 10,
        gap: 24px,
        container-size: 960px,
        container-bp: true,
    ),    
    'default':(
        columns: 12,
        gap: 32px,
        container-size: 1248px,
    )
);