.box {
    @extend %display-flex; 
    &-reverse {
        @extend %display-flex; 
        flex-direction: row-reverse;
        &[class*=" m:align-"],
        &[class^="m:align-"] {
            align-items: var(--align);
            justify-content: var(--justify-r-x);
        }
    }
}

