.container,
.container-md,
.container-lg,
.container-xl,
.container-full {
  padding-left: 8px;
  padding-right: 8px;
}

.grid {
  margin-left: -8px;
  margin-right: -8px;
}

.grid > * {
  margin-left: 8px;
  margin-right: 8px;
  max-width: calc(100% - 16px);
}

.col-1 {
  max-width: calc(8.33333% - 16px);
}

.col-2 {
  max-width: calc(16.66667% - 16px);
}

.col-3 {
  max-width: calc(25% - 16px);
}

.col-4 {
  max-width: calc(33.33333% - 16px);
}

.col-5 {
  max-width: calc(41.66667% - 16px);
}

.col-6 {
  max-width: calc(50% - 16px);
}

.col-7 {
  max-width: calc(58.33333% - 16px);
}

.col-8 {
  max-width: calc(66.66667% - 16px);
}

.col-9 {
  max-width: calc(75% - 16px);
}

.col-10 {
  max-width: calc(83.33333% - 16px);
}

.col-11 {
  max-width: calc(91.66667% - 16px);
}

.col-12 {
  max-width: calc(100% - 16px);
}

@media (min-width: 540px) {
  .container,
  .container-md,
  .container-lg,
  .container-xl,
  .container-full {
    padding-left: 8px;
    padding-right: 8px;
  }

  .container {
    max-width: 528px;
  }

  .grid {
    margin-left: -8px;
    margin-right: -8px;
  }

  .grid > * {
    margin-left: 8px;
    margin-right: 8px;
    max-width: calc(100% - 16px);
  }

  .col-1,
  .col-sm-1 {
    max-width: calc(8.33333% - 16px);
  }

  .col-2,
  .col-sm-2 {
    max-width: calc(16.66667% - 16px);
  }

  .col-3,
  .col-sm-3 {
    max-width: calc(25% - 16px);
  }

  .col-4,
  .col-sm-4 {
    max-width: calc(33.33333% - 16px);
  }

  .col-5,
  .col-sm-5 {
    max-width: calc(41.66667% - 16px);
  }

  .col-6,
  .col-sm-6 {
    max-width: calc(50% - 16px);
  }

  .col-7,
  .col-sm-7 {
    max-width: calc(58.33333% - 16px);
  }

  .col-8,
  .col-sm-8 {
    max-width: calc(66.66667% - 16px);
  }

  .col-9,
  .col-sm-9 {
    max-width: calc(75% - 16px);
  }

  .col-10,
  .col-sm-10 {
    max-width: calc(83.33333% - 16px);
  }

  .col-11,
  .col-sm-11 {
    max-width: calc(91.66667% - 16px);
  }

  .col-12,
  .col-sm-12 {
    max-width: calc(100% - 16px);
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-lg,
  .container-xl,
  .container-full {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container,
  .container-md {
    max-width: 768px;
  }

  .grid {
    margin-left: -12px;
    margin-right: -12px;
  }

  .grid > * {
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% - 24px);
  }

  .col-1,
  .col-sm-1,
  .col-md-1 {
    max-width: calc(8.33333% - 24px);
  }

  .col-2,
  .col-sm-2,
  .col-md-2 {
    max-width: calc(16.66667% - 24px);
  }

  .col-3,
  .col-sm-3,
  .col-md-3 {
    max-width: calc(25% - 24px);
  }

  .col-4,
  .col-sm-4,
  .col-md-4 {
    max-width: calc(33.33333% - 24px);
  }

  .col-5,
  .col-sm-5,
  .col-md-5 {
    max-width: calc(41.66667% - 24px);
  }

  .col-6,
  .col-sm-6,
  .col-md-6 {
    max-width: calc(50% - 24px);
  }

  .col-7,
  .col-sm-7,
  .col-md-7 {
    max-width: calc(58.33333% - 24px);
  }

  .col-8,
  .col-sm-8,
  .col-md-8 {
    max-width: calc(66.66667% - 24px);
  }

  .col-9,
  .col-sm-9,
  .col-md-9 {
    max-width: calc(75% - 24px);
  }

  .col-10,
  .col-sm-10,
  .col-md-10 {
    max-width: calc(83.33333% - 24px);
  }

  .col-11,
  .col-sm-11,
  .col-md-11 {
    max-width: calc(91.66667% - 24px);
  }

  .col-12,
  .col-sm-12,
  .col-md-12 {
    max-width: calc(100% - 24px);
  }
}

@media (min-width: 1000px) {
  .container,
  .container-md,
  .container-lg,
  .container-xl,
  .container-full {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container,
  .container-md,
  .container-lg {
    max-width: 960px;
  }

  .grid {
    margin-left: -12px;
    margin-right: -12px;
  }

  .grid > * {
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% - 24px);
  }

  .col-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1 {
    max-width: calc(8.33333% - 24px);
  }

  .col-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2 {
    max-width: calc(16.66667% - 24px);
  }

  .col-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3 {
    max-width: calc(25% - 24px);
  }

  .col-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4 {
    max-width: calc(33.33333% - 24px);
  }

  .col-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5 {
    max-width: calc(41.66667% - 24px);
  }

  .col-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6 {
    max-width: calc(50% - 24px);
  }

  .col-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7 {
    max-width: calc(58.33333% - 24px);
  }

  .col-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8 {
    max-width: calc(66.66667% - 24px);
  }

  .col-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9 {
    max-width: calc(75% - 24px);
  }

  .col-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10 {
    max-width: calc(83.33333% - 24px);
  }

  .col-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11 {
    max-width: calc(91.66667% - 24px);
  }

  .col-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    max-width: calc(100% - 24px);
  }
}

@media (min-width: 1280px) {
  .container,
  .container-md,
  .container-lg,
  .container-xl,
  .container-full {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1248px;
  }

  .grid {
    margin-left: -16px;
    margin-right: -16px;
  }

  .grid > * {
    margin-left: 16px;
    margin-right: 16px;
    max-width: calc(100% - 32px);
  }

  .col-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xl-1 {
    max-width: calc(8.33333% - 32px);
  }

  .col-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xl-2 {
    max-width: calc(16.66667% - 32px);
  }

  .col-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xl-3 {
    max-width: calc(25% - 32px);
  }

  .col-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xl-4 {
    max-width: calc(33.33333% - 32px);
  }

  .col-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xl-5 {
    max-width: calc(41.66667% - 32px);
  }

  .col-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xl-6 {
    max-width: calc(50% - 32px);
  }

  .col-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xl-7 {
    max-width: calc(58.33333% - 32px);
  }

  .col-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xl-8 {
    max-width: calc(66.66667% - 32px);
  }

  .col-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xl-9 {
    max-width: calc(75% - 32px);
  }

  .col-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xl-10 {
    max-width: calc(83.33333% - 32px);
  }

  .col-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xl-11 {
    max-width: calc(91.66667% - 32px);
  }

  .col-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12,
  .col-xl-12 {
    max-width: calc(100% - 32px);
  }
}