:root {
  --gap: 16px;
  --container-size: 100%;
}

.container,
.container-md,
.container-lg,
.container-xl,
.container-full {
  padding-left: calc(var(--gap) / 2);
  padding-right: calc(var(--gap) / 2);
}

.container,
.container-md,
.container-lg,
.container-xl,
.container-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: var(--container-size);
}

.grid {
  --grid-gap: var(--gap);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-gap) / -2);
  margin-right: calc(var(--grid-gap) / -2);
}

.grid > * {
  --col: 12;
  --col-gap: var(--gap);
  --offset: 0%;
  width: 100%;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  margin-left: calc(var(--offset) + (var(--col-gap) / 2));
  margin-right: calc(var(--col-gap) / 2);
  max-width: calc((100% / (12 / var(--col))) - var(--col-gap));
}

.col {
  flex-basis: 0;
  width: auto;
  --col: 12;
}

.col-auto {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: auto;
  --col: 12;
}

.col-1 {
  --col: 1;
}

.col-2 {
  --col: 2;
}

.col-3 {
  --col: 3;
}

.col-4 {
  --col: 4;
}

.col-5 {
  --col: 5;
}

.col-6 {
  --col: 6;
}

.col-7 {
  --col: 7;
}

.col-8 {
  --col: 8;
}

.col-9 {
  --col: 9;
}

.col-10 {
  --col: 10;
}

.col-11 {
  --col: 11;
}

.col-12 {
  --col: 12;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (min-width: 540px) {
  :root {
    --gap: 16px;
    --container-size: 528px;
  }

  .col-auto-sm {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-sm-1 {
    --col: 1;
  }

  .col-sm-2 {
    --col: 2;
  }

  .col-sm-3 {
    --col: 3;
  }

  .col-sm-4 {
    --col: 4;
  }

  .col-sm-5 {
    --col: 5;
  }

  .col-sm-6 {
    --col: 6;
  }

  .col-sm-7 {
    --col: 7;
  }

  .col-sm-8 {
    --col: 8;
  }

  .col-sm-9 {
    --col: 9;
  }

  .col-sm-10 {
    --col: 10;
  }

  .col-sm-11 {
    --col: 11;
  }

  .col-sm-12 {
    --col: 12;
  }
}

@media (min-width: 768px) {
  :root {
    --gap: 24px;
    --container-size: 768px;
  }

  .container-md {
    max-width: var(--container-size);
  }

  .col-auto-md {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-md-1 {
    --col: 1;
  }

  .col-md-2 {
    --col: 2;
  }

  .col-md-3 {
    --col: 3;
  }

  .col-md-4 {
    --col: 4;
  }

  .col-md-5 {
    --col: 5;
  }

  .col-md-6 {
    --col: 6;
  }

  .col-md-7 {
    --col: 7;
  }

  .col-md-8 {
    --col: 8;
  }

  .col-md-9 {
    --col: 9;
  }

  .col-md-10 {
    --col: 10;
  }

  .col-md-11 {
    --col: 11;
  }

  .col-md-12 {
    --col: 12;
  }
}

@media (min-width: 1000px) {
  :root {
    --gap: 24px;
    --container-size: 960px;
  }

  .container-lg {
    max-width: var(--container-size);
  }

  .col-auto-lg {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-lg-1 {
    --col: 1;
  }

  .col-lg-2 {
    --col: 2;
  }

  .col-lg-3 {
    --col: 3;
  }

  .col-lg-4 {
    --col: 4;
  }

  .col-lg-5 {
    --col: 5;
  }

  .col-lg-6 {
    --col: 6;
  }

  .col-lg-7 {
    --col: 7;
  }

  .col-lg-8 {
    --col: 8;
  }

  .col-lg-9 {
    --col: 9;
  }

  .col-lg-10 {
    --col: 10;
  }

  .col-lg-11 {
    --col: 11;
  }

  .col-lg-12 {
    --col: 12;
  }
}

@media (min-width: 1280px) {
  :root {
    --gap: 32px;
    --container-size: 1248px;
  }

  .container-xl {
    max-width: var(--container-size);
  }

  .col-auto-xl {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-xl-1 {
    --col: 1;
  }

  .col-xl-2 {
    --col: 2;
  }

  .col-xl-3 {
    --col: 3;
  }

  .col-xl-4 {
    --col: 4;
  }

  .col-xl-5 {
    --col: 5;
  }

  .col-xl-6 {
    --col: 6;
  }

  .col-xl-7 {
    --col: 7;
  }

  .col-xl-8 {
    --col: 8;
  }

  .col-xl-9 {
    --col: 9;
  }

  .col-xl-10 {
    --col: 10;
  }

  .col-xl-11 {
    --col: 11;
  }

  .col-xl-12 {
    --col: 12;
  }
}