:root {
  --gap: 8px;
  --container-size: 100%;
  --display-flex: flex;
  --display-block: block;
  /* theme */
  /* primary */
  --primary-h: 241deg;
  --primary-s: 63%;
  --primary-l: 59%;
  /* secondary */
  --secondary-h: 147deg;
  --secondary-s: 62%;
  --secondary-l: 55%;
  /* dark */
  --dark-h: 217deg;
  --dark-s: 16%;
  --dark-l: 22%;
  /* gray */
  --gray-h: 210deg;
  --gray-s: 14%;
  --gray-l: 97%;
  /* light */
  --light-h: 0deg;
  --light-s: 0%;
  --light-l: 96%;
  /* success */
  --success-h: 128deg;
  --success-s: 57%;
  --success-l: 45%;
  /* warning */
  --warning-h: 43deg;
  --warning-s: 100%;
  --warning-l: 50%;
  /* error */
  --error-h: 22deg;
  --error-s: 100%;
  --error-l: 45%;
  /* size */
  --size-default: 1;
  --size-xs: 0.5;
  --size-sm: 0.75;
  --size-md: 1.25;
  --size-lg: 1.5;
  --size-xl: 1.75;
  --size-hg: 2;
  --size-xh: 3;
  /* spacing */
  --spacing-sm: 4px;
  --spacing-default: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.grid,
.box,
[class*=" box-"],
[class|="box"] {
  display: var(--display-flex);
}

.grid {
  flex-wrap: wrap;
}

.container,
.container\:tb,
.container\:lt,
.container\:dt,
.container-full {
  padding-left: var(--gap);
  padding-right: var(--gap);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: var(--container-size);
}

.grid {
  --grid-gap: calc(var(--gap) / -1);
  margin-left: var(--grid-gap);
  margin-right: var(--grid-gap);
}

.grid > * {
  --col: 12;
  --col-gap: var(--gap);
  --offset: 0%;
  width: 100%;
  flex: 1 0 auto;
  margin-left: calc(var(--offset) + var(--col-gap));
  margin-right: var(--col-gap);
  max-width: calc((100% / (12 / var(--col))) - (var(--col-gap) * 2));
}

.grid--row-col-1 > * {
  --col: 1;
}

.grid--row-col-2 > * {
  --col: 2;
}

.grid--row-col-3 > * {
  --col: 3;
}

.grid--row-col-4 > * {
  --col: 4;
}

.grid--row-col-5 > * {
  --col: 5;
}

.grid--row-col-6 > * {
  --col: 6;
}

.grid--no-gap {
  --grid-gap: 0px;
}

.grid--no-gap > * {
  --col-gap: 0px;
}

.grid--gap {
  --grid-gap: calc(var(--gap) / -1);
}

.grid--gap > * {
  --col-gap: var(--gap);
}

.col {
  flex-basis: 0;
  width: auto;
  --col: 12;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  --col: 12;
}

.col-1 {
  --col: 1;
}

.col-2 {
  --col: 2;
}

.col-3 {
  --col: 3;
}

.col-4 {
  --col: 4;
}

.col-5 {
  --col: 5;
}

.col-6 {
  --col: 6;
}

.col-7 {
  --col: 7;
}

.col-8 {
  --col: 8;
}

.col-9 {
  --col: 9;
}

.col-10 {
  --col: 10;
}

.col-11 {
  --col: 11;
}

.col-12 {
  --col: 12;
}

.offset-1 {
  --offset: 8.33333%;
}

.offset-2 {
  --offset: 16.66667%;
}

.offset-3 {
  --offset: 25%;
}

.offset-4 {
  --offset: 33.33333%;
}

.offset-5 {
  --offset: 41.66667%;
}

.offset-6 {
  --offset: 50%;
}

.offset-7 {
  --offset: 58.33333%;
}

.offset-8 {
  --offset: 66.66667%;
}

.offset-9 {
  --offset: 75%;
}

.offset-10 {
  --offset: 83.33333%;
}

.offset-11 {
  --offset: 91.66667%;
}

.box {
  flex-direction: row;
}

.box-x {
  flex-direction: row;
}

.box-y {
  flex-direction: column;
}

.box-y[class*=" lvl-"],
.box-y[class|="lvl"] {
  align-items: var(--justify);
  justify-content: var(--align);
}

.grid[class*=" lvl-"],
.grid[class|="lvl"],
.box[class*=" lvl-"],
.box[class|="lvl"],
.box-x[class*=" lvl-"],
.box-x[class|="lvl"] {
  align-items: var(--align);
  justify-content: var(--justify);
}

.grid,
.box,
[class*=" box-"],
[class|="box"] {
  --justify: normal;
  --align: normal;
}

.item-top {
  margin-bottom: auto;
}

.item-bottom {
  margin-top: auto;
}

.item-left {
  margin-right: auto;
}

.item-right {
  margin-left: auto;
}

.item-center {
  margin: auto;
}

.item-x-center {
  margin-right: auto;
  margin-left: auto;
}

.item-y-center {
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  display: var(--display-block);
  --size: inherit;
  font-size: calc(1rem * var(--size));
  width: 1em;
  height: 1em;
}

.avatar {
  --size: 1;
  display: var(--display-block);
  width: calc(3rem * var(--size));
  height: calc(3rem * var(--size));
  overflow: hidden;
  border-radius: 50%;
}

.title {
  --size: 1;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: calc((1rem * var(--size) + 0.5rem) - 0.075em);
  font-size: calc(1rem * var(--size) + 0.5rem);
  font-weight: 700;
  font-family: inherit;
  line-height: 1.15;
}

.count {
  background-color: cyan;
}

.btn {
  --size: 1;
  padding: calc(0.5rem * var(--size)) calc(1rem * var(--size));
  font-size: calc(1rem * var(--size));
  line-height: 1em;
  white-space: nowrap;
  border: none;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  --size: 1;
  font-size: calc(0.5rem * var(--size) + 0.5rem);
}

p {
  font-size: calc(0.5rem * var(--size) + 0.5rem);
  margin-bottom: var(--gap);
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0px;
}

.primary,
.secondary,
.dark,
.gray,
.light,
.success,
.warning,
.error {
  --alpha: 1;
  background-color: hsla(var(--hue), var(--saturation-bg), var(--lightness-bg), var(--alpha));
}

.primary,
.primary\:color,
.secondary,
.secondary\:color,
.dark,
.dark\:color,
.gray,
.gray\:color,
.light,
.light\:color,
.success,
.success\:color,
.warning,
.warning\:color,
.error,
.error\:color {
  --saturation-color: 100%;
  color: hsl(var(--hue), var(--saturation-color), var(--lightness-color));
}

.primary,
.primary\:color,
.secondary,
.secondary\:color,
.dark,
.dark\:color,
.success,
.success\:color,
.error,
.error\:color {
  --lightness-color: 98%;
}

.gray,
.gray\:color,
.light,
.light\:color,
.warning,
.warning\:color {
  --lightness-color: 5%;
}

.primary {
  --hue: var(--primary-h);
  --saturation-bg: var(--primary-s);
  --lightness-bg: var(--primary-l);
}

.secondary {
  --hue: var(--secondary-h);
  --saturation-bg: var(--secondary-s);
  --lightness-bg: var(--secondary-l);
}

.dark {
  --hue: var(--dark-h);
  --saturation-bg: var(--dark-s);
  --lightness-bg: var(--dark-l);
}

.gray {
  --hue: var(--gray-h);
  --saturation-bg: var(--gray-s);
  --lightness-bg: var(--gray-l);
}

.light {
  --hue: var(--light-h);
  --saturation-bg: var(--light-s);
  --lightness-bg: var(--light-l);
}

.success {
  --hue: var(--success-h);
  --saturation-bg: var(--success-s);
  --lightness-bg: var(--success-l);
}

.warning {
  --hue: var(--warning-h);
  --saturation-bg: var(--warning-s);
  --lightness-bg: var(--warning-l);
}

.error {
  --hue: var(--error-h);
  --saturation-bg: var(--error-s);
  --lightness-bg: var(--error-l);
}

.hide {
  --display-flex: none;
  --display-block: none;
}

.show {
  --display-flex: flex;
  --display-block: block;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.size {
  --size: var(--size-default);
}

.size-xs {
  --size: var(--size-xs);
}

.size-sm {
  --size: var(--size-sm);
}

.size-md {
  --size: var(--size-md);
}

.size-lg {
  --size: var(--size-lg);
}

.size-xl {
  --size: var(--size-xl);
}

.size-hg {
  --size: var(--size-hg);
}

.size-xh {
  --size: var(--size-xh);
}

.lvl-left {
  --justify: flex-start;
}

.lvl-right {
  --justify: flex-end;
}

.lvl-top {
  --align: flex-start;
}

.lvl-bottom {
  --align: flex-end;
}

.lvl-center {
  --justify: center;
  --align: center;
}

.lvl-x-center {
  --justify: center;
}

.lvl-y-center {
  --align: center;
}

.lvl-x-between {
  --justify: space-between;
}

.lvl-y-between {
  --align: space-between;
}

.lvl-default {
  --justify: normal;
  --align: normal;
}

.lvl-x-default {
  --justify: normal;
}

.lvl-y-default {
  --align: normal;
}

.spacing-no {
  margin: 0px;
}

.spacing-left {
  margin-left: 8px;
}

.spacing-left-sm {
  margin-left: 4px;
}

.spacing-left-md {
  margin-left: 16px;
}

.spacing-left-lg {
  margin-left: 24px;
}

.spacing-left-xl {
  margin-left: 32px;
}

.spacing-right {
  margin-right: 8px;
}

.spacing-right-sm {
  margin-right: 4px;
}

.spacing-right-md {
  margin-right: 16px;
}

.spacing-right-lg {
  margin-right: 24px;
}

.spacing-right-xl {
  margin-right: 32px;
}

.spacing-top {
  margin-top: 8px;
}

.spacing-top-sm {
  margin-top: 4px;
}

.spacing-top-md {
  margin-top: 16px;
}

.spacing-top-lg {
  margin-top: 24px;
}

.spacing-top-xl {
  margin-top: 32px;
}

.spacing-bottom {
  margin-bottom: 8px;
}

.spacing-bottom-sm {
  margin-bottom: 4px;
}

.spacing-bottom-md {
  margin-bottom: 16px;
}

.spacing-bottom-lg {
  margin-bottom: 24px;
}

.spacing-bottom-xl {
  margin-bottom: 32px;
}

.spacing-x {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-x-sm {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-x-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-x-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}

.spacing-x-xl {
  margin-top: 32px;
  margin-bottom: 32px;
}

.spacing-y {
  margin-right: 8px;
  margin-left: 8px;
}

.spacing-y-sm {
  margin-right: 4px;
  margin-left: 4px;
}

.spacing-y-md {
  margin-right: 16px;
  margin-left: 16px;
}

.spacing-y-lg {
  margin-right: 24px;
  margin-left: 24px;
}

.spacing-y-xl {
  margin-right: 32px;
  margin-left: 32px;
}

.spacing {
  margin: 8px;
}

.spacing-sm {
  margin: 4px;
}

.spacing-md {
  margin: 16px;
}

.spacing-lg {
  margin: 24px;
}

.spacing-xl {
  margin: 32px;
}

.indent {
  padding: 8px;
}

.indent-sm {
  padding: 4px;
}

.indent-md {
  padding: 16px;
}

.indent-lg {
  padding: 24px;
}

.indent-xl {
  padding: 32px;
}

.indent-x {
  padding-right: 8px;
  padding-left: 8px;
}

.indent-x-sm {
  padding-right: 4px;
  padding-left: 4px;
}

.indent-x-md {
  padding-right: 16px;
  padding-left: 16px;
}

.indent-x-lg {
  padding-right: 24px;
  padding-left: 24px;
}

.indent-x-xl {
  padding-right: 32px;
  padding-left: 32px;
}

.indent-y {
  padding: 8px 0;
}

.indent-y-sm {
  padding: 4px 0;
}

.indent-y-md {
  padding: 16px 0;
}

.indent-y-lg {
  padding: 24px 0;
}

.indent-y-xl {
  padding: 32px 0;
}

.indent-no {
  padding: 0px;
}

.rounded {
  border-radius: 8px;
}

.rounded-sm {
  border-radius: 4px;
}

.rounded-md {
  border-radius: 12px;
}

.rounded-lg {
  border-radius: 16px;
}

.circle {
  border-radius: 50%;
}

.theme-s-0,
.theme-s-0\:bg {
  --s-bg: 0%;
}

.theme-s-0 {
  --s-color: 100%;
}

.theme-s-0\:text {
  --s-color: 0%;
}

.theme-s-0\:br {
  --s-br: 0%;
}

.theme-s-5,
.theme-s-5\:bg {
  --s-bg: 5%;
}

.theme-s-5 {
  --s-color: 100%;
}

.theme-s-5\:text {
  --s-color: 5%;
}

.theme-s-5\:br {
  --s-br: 5%;
}

.theme-s-10,
.theme-s-10\:bg {
  --s-bg: 10%;
}

.theme-s-10 {
  --s-color: 100%;
}

.theme-s-10\:text {
  --s-color: 10%;
}

.theme-s-10\:br {
  --s-br: 10%;
}

.theme-s-20,
.theme-s-20\:bg {
  --s-bg: 20%;
}

.theme-s-20 {
  --s-color: 100%;
}

.theme-s-20\:text {
  --s-color: 20%;
}

.theme-s-20\:br {
  --s-br: 20%;
}

.theme-s-30,
.theme-s-30\:bg {
  --s-bg: 30%;
}

.theme-s-30 {
  --s-color: 100%;
}

.theme-s-30\:text {
  --s-color: 30%;
}

.theme-s-30\:br {
  --s-br: 30%;
}

.theme-s-40,
.theme-s-40\:bg {
  --s-bg: 40%;
}

.theme-s-40 {
  --s-color: 100%;
}

.theme-s-40\:text {
  --s-color: 40%;
}

.theme-s-40\:br {
  --s-br: 40%;
}

.theme-s-50,
.theme-s-50\:bg {
  --s-bg: 50%;
}

.theme-s-50\:text {
  --s-color: 50%;
}

.theme-s-50\:br {
  --s-br: 50%;
}

.theme-s-60,
.theme-s-60\:bg {
  --s-bg: 60%;
}

.theme-s-60\:text {
  --s-color: 60%;
}

.theme-s-60\:br {
  --s-br: 60%;
}

.theme-s-70,
.theme-s-70\:bg {
  --s-bg: 70%;
}

.theme-s-70\:text {
  --s-color: 70%;
}

.theme-s-70\:br {
  --s-br: 70%;
}

.theme-s-80,
.theme-s-80\:bg {
  --s-bg: 80%;
}

.theme-s-80\:text {
  --s-color: 80%;
}

.theme-s-80\:br {
  --s-br: 80%;
}

.theme-s-90,
.theme-s-90\:bg {
  --s-bg: 90%;
}

.theme-s-90\:text {
  --s-color: 90%;
}

.theme-s-90\:br {
  --s-br: 90%;
}

.theme-s-95,
.theme-s-95\:bg {
  --s-bg: 95%;
}

.theme-s-95\:text {
  --s-color: 95%;
}

.theme-s-95\:br {
  --s-br: 95%;
}

.theme-s-100,
.theme-s-100\:bg {
  --s-bg: 100%;
}

.theme-s-100\:text {
  --s-color: 100%;
}

.theme-s-100\:br {
  --s-br: 100%;
}

.theme-l-0,
.theme-l-0\:bg {
  --l-bg: 0%;
}

.theme-l-0\:text {
  --l-color: 0%;
}

.theme-l-0\:br {
  --l-br: 0%;
}

.theme-l-5,
.theme-l-5\:bg {
  --l-bg: 5%;
}

.theme-l-5\:text {
  --l-color: 5%;
}

.theme-l-5\:br {
  --l-br: 5%;
}

.theme-l-10,
.theme-l-10\:bg {
  --l-bg: 10%;
}

.theme-l-10\:text {
  --l-color: 10%;
}

.theme-l-10\:br {
  --l-br: 10%;
}

.theme-l-20,
.theme-l-20\:bg {
  --l-bg: 20%;
}

.theme-l-20\:text {
  --l-color: 20%;
}

.theme-l-20\:br {
  --l-br: 20%;
}

.theme-l-30,
.theme-l-30\:bg {
  --l-bg: 30%;
}

.theme-l-30\:text {
  --l-color: 30%;
}

.theme-l-30\:br {
  --l-br: 30%;
}

.theme-l-40,
.theme-l-40\:bg {
  --l-bg: 40%;
}

.theme-l-40\:text {
  --l-color: 40%;
}

.theme-l-40\:br {
  --l-br: 40%;
}

.theme-l-50,
.theme-l-50\:bg {
  --l-bg: 50%;
}

.theme-l-50\:text {
  --l-color: 50%;
}

.theme-l-50\:br {
  --l-br: 50%;
}

.theme-l-60,
.theme-l-60\:bg {
  --l-bg: 60%;
}

.theme-l-60\:text {
  --l-color: 60%;
}

.theme-l-60\:br {
  --l-br: 60%;
}

.theme-l-70,
.theme-l-70\:bg {
  --l-bg: 70%;
}

.theme-l-70\:text {
  --l-color: 70%;
}

.theme-l-70\:br {
  --l-br: 70%;
}

.theme-l-80,
.theme-l-80\:bg {
  --l-bg: 80%;
}

.theme-l-80\:text {
  --l-color: 80%;
}

.theme-l-80\:br {
  --l-br: 80%;
}

.theme-l-90,
.theme-l-90\:bg {
  --l-bg: 90%;
}

.theme-l-90\:text {
  --l-color: 90%;
}

.theme-l-90\:br {
  --l-br: 90%;
}

.theme-l-95,
.theme-l-95\:bg {
  --l-bg: 95%;
}

.theme-l-95\:text {
  --l-color: 95%;
}

.theme-l-95\:br {
  --l-br: 95%;
}

.theme-l-100,
.theme-l-100\:bg {
  --l-bg: 100%;
}

.theme-l-100\:text {
  --l-color: 100%;
}

.theme-l-100\:br {
  --l-br: 100%;
}

.theme-a-1 {
  --alpha: 0.1;
}

.theme-a-2 {
  --alpha: 0.2;
}

.theme-a-3 {
  --alpha: 0.3;
}

.theme-a-4 {
  --alpha: 0.4;
}

.theme-a-5 {
  --alpha: 0.5;
}

.theme-a-6 {
  --alpha: 0.6;
}

.theme-a-7 {
  --alpha: 0.7;
}

.theme-a-8 {
  --alpha: 0.8;
}

.theme-a-9 {
  --alpha: 0.9;
}

.theme-a-10 {
  --alpha: 1;
}

@media (min-width: 528px) {
  :root {
    --gap: 8px;
    --container-size: 528px;
  }

  .grid--row-col-1\:pb > * {
    --col: 1;
  }

  .grid--row-col-2\:pb > * {
    --col: 2;
  }

  .grid--row-col-3\:pb > * {
    --col: 3;
  }

  .grid--row-col-4\:pb > * {
    --col: 4;
  }

  .grid--row-col-5\:pb > * {
    --col: 5;
  }

  .grid--row-col-6\:pb > * {
    --col: 6;
  }

  .grid--no-gap\:pb {
    --grid-gap: 0px;
  }

  .grid--no-gap\:pb > * {
    --col-gap: 0px;
  }

  .grid--gap\:pb {
    --grid-gap: calc(var(--gap) / -1);
  }

  .grid--gap\:pb > * {
    --col-gap: var(--gap);
  }

  .col\:pb {
    flex-basis: 0;
    width: auto;
    --col: 12;
  }

  .col-auto\:pb {
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-1\:pb {
    --col: 1;
  }

  .col-2\:pb {
    --col: 2;
  }

  .col-3\:pb {
    --col: 3;
  }

  .col-4\:pb {
    --col: 4;
  }

  .col-5\:pb {
    --col: 5;
  }

  .col-6\:pb {
    --col: 6;
  }

  .col-7\:pb {
    --col: 7;
  }

  .col-8\:pb {
    --col: 8;
  }

  .col-9\:pb {
    --col: 9;
  }

  .col-10\:pb {
    --col: 10;
  }

  .col-11\:pb {
    --col: 11;
  }

  .col-12\:pb {
    --col: 12;
  }

  .offset-1\:pb {
    --offset: 8.33333%;
  }

  .offset-2\:pb {
    --offset: 16.66667%;
  }

  .offset-3\:pb {
    --offset: 25%;
  }

  .offset-4\:pb {
    --offset: 33.33333%;
  }

  .offset-5\:pb {
    --offset: 41.66667%;
  }

  .offset-6\:pb {
    --offset: 50%;
  }

  .offset-7\:pb {
    --offset: 58.33333%;
  }

  .offset-8\:pb {
    --offset: 66.66667%;
  }

  .offset-9\:pb {
    --offset: 75%;
  }

  .offset-10\:pb {
    --offset: 83.33333%;
  }

  .offset-11\:pb {
    --offset: 91.66667%;
  }

  .no-offset\:pb {
    --offset: 0%;
  }

  .box-x\:pb {
    flex-direction: row;
  }

  .box-x\:pb[class*=" lvl-"],
  .box-x\:pb[class|="lvl"] {
    align-items: var(--align);
    justify-content: var(--justify);
  }

  .box-y\:pb {
    flex-direction: column;
  }

  .box-y\:pb[class*=" lvl-"],
  .box-y\:pb[class|="lvl"] {
    align-items: var(--justify);
    justify-content: var(--align);
  }

  .hide\:pb {
    --display-flex: none;
    --display-block: none;
  }

  .show\:pb {
    --display-flex: flex;
    --display-block: block;
  }

  .invisible\:pb {
    visibility: hidden;
  }

  .visible\:pb {
    visibility: visible;
  }

  .size\:pb {
    --size: var(--size-default);
  }

  .size-xs\:pb {
    --size: var(--size-xs);
  }

  .size-sm\:pb {
    --size: var(--size-sm);
  }

  .size-md\:pb {
    --size: var(--size-md);
  }

  .size-lg\:pb {
    --size: var(--size-lg);
  }

  .size-xl\:pb {
    --size: var(--size-xl);
  }

  .size-hg\:pb {
    --size: var(--size-hg);
  }

  .size-xh\:pb {
    --size: var(--size-xh);
  }

  .lvl-left\:pb {
    --justify: flex-start;
  }

  .lvl-right\:pb {
    --justify: flex-end;
  }

  .lvl-top\:pb {
    --align: flex-start;
  }

  .lvl-bottom\:pb {
    --align: flex-end;
  }

  .lvl-center\:pb {
    --justify: center;
    --align: center;
  }

  .lvl-x-center\:pb {
    --justify: center;
  }

  .lvl-y-center\:pb {
    --align: center;
  }

  .lvl-x-between\:pb {
    --justify: space-between;
  }

  .lvl-y-between\:pb {
    --align: space-between;
  }

  .lvl-default\:pb {
    --justify: normal;
    --align: normal;
  }

  .lvl-x-default\:pb {
    --justify: normal;
  }

  .lvl-y-default\:pb {
    --align: normal;
  }

  .spacing-no\:pb {
    margin: 0px;
  }

  .spacing-left-sm\:pb {
    margin-left: 4px;
  }

  .spacing-left\:pb {
    margin-left: 8px;
  }

  .spacing-left-md\:pb {
    margin-left: 16px;
  }

  .spacing-left-lg\:pb {
    margin-left: 24px;
  }

  .spacing-left-xl\:pb {
    margin-left: 32px;
  }

  .spacing-right-sm\:pb {
    margin-right: 4px;
  }

  .spacing-right\:pb {
    margin-right: 8px;
  }

  .spacing-right-md\:pb {
    margin-right: 16px;
  }

  .spacing-right-lg\:pb {
    margin-right: 24px;
  }

  .spacing-right-xl\:pb {
    margin-right: 32px;
  }

  .spacing-top-sm\:pb {
    margin-top: 4px;
  }

  .spacing-top\:pb {
    margin-top: 8px;
  }

  .spacing-top-md\:pb {
    margin-top: 16px;
  }

  .spacing-top-lg\:pb {
    margin-top: 24px;
  }

  .spacing-top-xl\:pb {
    margin-top: 32px;
  }

  .spacing-bottom-sm\:pb {
    margin-bottom: 4px;
  }

  .spacing-bottom\:pb {
    margin-bottom: 8px;
  }

  .spacing-bottom-md\:pb {
    margin-bottom: 16px;
  }

  .spacing-bottom-lg\:pb {
    margin-bottom: 24px;
  }

  .spacing-bottom-xl\:pb {
    margin-bottom: 32px;
  }

  .spacing-x-sm\:pb {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .spacing-x\:pb {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .spacing-x-md\:pb {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .spacing-x-lg\:pb {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .spacing-x-xl\:pb {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .spacing-y-sm\:pb {
    margin-right: 4px;
    margin-left: 4px;
  }

  .spacing-y\:pb {
    margin-right: 8px;
    margin-left: 8px;
  }

  .spacing-y-md\:pb {
    margin-right: 16px;
    margin-left: 16px;
  }

  .spacing-y-lg\:pb {
    margin-right: 24px;
    margin-left: 24px;
  }

  .spacing-y-xl\:pb {
    margin-right: 32px;
    margin-left: 32px;
  }

  .spacing-sm\:pb {
    margin: 4px;
  }

  .spacing\:pb {
    margin: 8px;
  }

  .spacing-md\:pb {
    margin: 16px;
  }

  .spacing-lg\:pb {
    margin: 24px;
  }

  .spacing-xl\:pb {
    margin: 32px;
  }

  .indent-sm\:pb {
    padding: 4px;
  }

  .indent\:pb {
    padding: 8px;
  }

  .indent-md\:pb {
    padding: 16px;
  }

  .indent-lg\:pb {
    padding: 24px;
  }

  .indent-xl\:pb {
    padding: 32px;
  }

  .indent-x-sm\:pb {
    padding-right: 4px;
    padding-left: 4px;
  }

  .indent-x\:pb {
    padding-right: 8px;
    padding-left: 8px;
  }

  .indent-x-md\:pb {
    padding-right: 16px;
    padding-left: 16px;
  }

  .indent-x-lg\:pb {
    padding-right: 24px;
    padding-left: 24px;
  }

  .indent-x-xl\:pb {
    padding-right: 32px;
    padding-left: 32px;
  }

  .indent-y-sm\:pb {
    padding: 4px 0;
  }

  .indent-y\:pb {
    padding: 8px 0;
  }

  .indent-y-md\:pb {
    padding: 16px 0;
  }

  .indent-y-lg\:pb {
    padding: 24px 0;
  }

  .indent-y-xl\:pb {
    padding: 32px 0;
  }

  .indent-no\:pb {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  :root {
    --gap: 12px;
    --container-size: 768px;
  }

  .container\:tb {
    max-width: var(--container-size);
  }

  .grid--row-col-1\:tb > * {
    --col: 1;
  }

  .grid--row-col-2\:tb > * {
    --col: 2;
  }

  .grid--row-col-3\:tb > * {
    --col: 3;
  }

  .grid--row-col-4\:tb > * {
    --col: 4;
  }

  .grid--row-col-5\:tb > * {
    --col: 5;
  }

  .grid--row-col-6\:tb > * {
    --col: 6;
  }

  .grid--no-gap\:tb {
    --grid-gap: 0px;
  }

  .grid--no-gap\:tb > * {
    --col-gap: 0px;
  }

  .grid--gap\:tb {
    --grid-gap: calc(var(--gap) / -1);
  }

  .grid--gap\:tb > * {
    --col-gap: var(--gap);
  }

  .col\:tb {
    flex-basis: 0;
    width: auto;
    --col: 12;
  }

  .col-auto\:tb {
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-1\:tb {
    --col: 1;
  }

  .col-2\:tb {
    --col: 2;
  }

  .col-3\:tb {
    --col: 3;
  }

  .col-4\:tb {
    --col: 4;
  }

  .col-5\:tb {
    --col: 5;
  }

  .col-6\:tb {
    --col: 6;
  }

  .col-7\:tb {
    --col: 7;
  }

  .col-8\:tb {
    --col: 8;
  }

  .col-9\:tb {
    --col: 9;
  }

  .col-10\:tb {
    --col: 10;
  }

  .col-11\:tb {
    --col: 11;
  }

  .col-12\:tb {
    --col: 12;
  }

  .offset-1\:tb {
    --offset: 8.33333%;
  }

  .offset-2\:tb {
    --offset: 16.66667%;
  }

  .offset-3\:tb {
    --offset: 25%;
  }

  .offset-4\:tb {
    --offset: 33.33333%;
  }

  .offset-5\:tb {
    --offset: 41.66667%;
  }

  .offset-6\:tb {
    --offset: 50%;
  }

  .offset-7\:tb {
    --offset: 58.33333%;
  }

  .offset-8\:tb {
    --offset: 66.66667%;
  }

  .offset-9\:tb {
    --offset: 75%;
  }

  .offset-10\:tb {
    --offset: 83.33333%;
  }

  .offset-11\:tb {
    --offset: 91.66667%;
  }

  .no-offset\:tb {
    --offset: 0%;
  }

  .box-x\:tb {
    flex-direction: row;
  }

  .box-x\:tb[class*=" lvl-"],
  .box-x\:tb[class|="lvl"] {
    align-items: var(--align);
    justify-content: var(--justify);
  }

  .box-y\:tb {
    flex-direction: column;
  }

  .box-y\:tb[class*=" lvl-"],
  .box-y\:tb[class|="lvl"] {
    align-items: var(--justify);
    justify-content: var(--align);
  }

  .hide\:tb {
    --display-flex: none;
    --display-block: none;
  }

  .show\:tb {
    --display-flex: flex;
    --display-block: block;
  }

  .invisible\:tb {
    visibility: hidden;
  }

  .visible\:tb {
    visibility: visible;
  }

  .size\:tb {
    --size: var(--size-default);
  }

  .size-xs\:tb {
    --size: var(--size-xs);
  }

  .size-sm\:tb {
    --size: var(--size-sm);
  }

  .size-md\:tb {
    --size: var(--size-md);
  }

  .size-lg\:tb {
    --size: var(--size-lg);
  }

  .size-xl\:tb {
    --size: var(--size-xl);
  }

  .size-hg\:tb {
    --size: var(--size-hg);
  }

  .size-xh\:tb {
    --size: var(--size-xh);
  }

  .lvl-left\:tb {
    --justify: flex-start;
  }

  .lvl-right\:tb {
    --justify: flex-end;
  }

  .lvl-top\:tb {
    --align: flex-start;
  }

  .lvl-bottom\:tb {
    --align: flex-end;
  }

  .lvl-center\:tb {
    --justify: center;
    --align: center;
  }

  .lvl-x-center\:tb {
    --justify: center;
  }

  .lvl-y-center\:tb {
    --align: center;
  }

  .lvl-x-between\:tb {
    --justify: space-between;
  }

  .lvl-y-between\:tb {
    --align: space-between;
  }

  .lvl-default\:tb {
    --justify: normal;
    --align: normal;
  }

  .lvl-x-default\:tb {
    --justify: normal;
  }

  .lvl-y-default\:tb {
    --align: normal;
  }

  .spacing-no\:tb {
    margin: 0px;
  }

  .spacing-left-sm\:tb {
    margin-left: 4px;
  }

  .spacing-left\:tb {
    margin-left: 8px;
  }

  .spacing-left-md\:tb {
    margin-left: 16px;
  }

  .spacing-left-lg\:tb {
    margin-left: 24px;
  }

  .spacing-left-xl\:tb {
    margin-left: 32px;
  }

  .spacing-right-sm\:tb {
    margin-right: 4px;
  }

  .spacing-right\:tb {
    margin-right: 8px;
  }

  .spacing-right-md\:tb {
    margin-right: 16px;
  }

  .spacing-right-lg\:tb {
    margin-right: 24px;
  }

  .spacing-right-xl\:tb {
    margin-right: 32px;
  }

  .spacing-top-sm\:tb {
    margin-top: 4px;
  }

  .spacing-top\:tb {
    margin-top: 8px;
  }

  .spacing-top-md\:tb {
    margin-top: 16px;
  }

  .spacing-top-lg\:tb {
    margin-top: 24px;
  }

  .spacing-top-xl\:tb {
    margin-top: 32px;
  }

  .spacing-bottom-sm\:tb {
    margin-bottom: 4px;
  }

  .spacing-bottom\:tb {
    margin-bottom: 8px;
  }

  .spacing-bottom-md\:tb {
    margin-bottom: 16px;
  }

  .spacing-bottom-lg\:tb {
    margin-bottom: 24px;
  }

  .spacing-bottom-xl\:tb {
    margin-bottom: 32px;
  }

  .spacing-x-sm\:tb {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .spacing-x\:tb {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .spacing-x-md\:tb {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .spacing-x-lg\:tb {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .spacing-x-xl\:tb {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .spacing-y-sm\:tb {
    margin-right: 4px;
    margin-left: 4px;
  }

  .spacing-y\:tb {
    margin-right: 8px;
    margin-left: 8px;
  }

  .spacing-y-md\:tb {
    margin-right: 16px;
    margin-left: 16px;
  }

  .spacing-y-lg\:tb {
    margin-right: 24px;
    margin-left: 24px;
  }

  .spacing-y-xl\:tb {
    margin-right: 32px;
    margin-left: 32px;
  }

  .spacing-sm\:tb {
    margin: 4px;
  }

  .spacing\:tb {
    margin: 8px;
  }

  .spacing-md\:tb {
    margin: 16px;
  }

  .spacing-lg\:tb {
    margin: 24px;
  }

  .spacing-xl\:tb {
    margin: 32px;
  }

  .indent-sm\:tb {
    padding: 4px;
  }

  .indent\:tb {
    padding: 8px;
  }

  .indent-md\:tb {
    padding: 16px;
  }

  .indent-lg\:tb {
    padding: 24px;
  }

  .indent-xl\:tb {
    padding: 32px;
  }

  .indent-x-sm\:tb {
    padding-right: 4px;
    padding-left: 4px;
  }

  .indent-x\:tb {
    padding-right: 8px;
    padding-left: 8px;
  }

  .indent-x-md\:tb {
    padding-right: 16px;
    padding-left: 16px;
  }

  .indent-x-lg\:tb {
    padding-right: 24px;
    padding-left: 24px;
  }

  .indent-x-xl\:tb {
    padding-right: 32px;
    padding-left: 32px;
  }

  .indent-y-sm\:tb {
    padding: 4px 0;
  }

  .indent-y\:tb {
    padding: 8px 0;
  }

  .indent-y-md\:tb {
    padding: 16px 0;
  }

  .indent-y-lg\:tb {
    padding: 24px 0;
  }

  .indent-y-xl\:tb {
    padding: 32px 0;
  }

  .indent-no\:tb {
    padding: 0px;
  }
}

@media (min-width: 1024px) {
  :root {
    --gap: 12px;
    --container-size: 960px;
  }

  .container\:lt {
    max-width: var(--container-size);
  }

  .grid--row-col-1\:lt > * {
    --col: 1;
  }

  .grid--row-col-2\:lt > * {
    --col: 2;
  }

  .grid--row-col-3\:lt > * {
    --col: 3;
  }

  .grid--row-col-4\:lt > * {
    --col: 4;
  }

  .grid--row-col-5\:lt > * {
    --col: 5;
  }

  .grid--row-col-6\:lt > * {
    --col: 6;
  }

  .grid--no-gap\:lt {
    --grid-gap: 0px;
  }

  .grid--no-gap\:lt > * {
    --col-gap: 0px;
  }

  .grid--gap\:lt {
    --grid-gap: calc(var(--gap) / -1);
  }

  .grid--gap\:lt > * {
    --col-gap: var(--gap);
  }

  .col\:lt {
    flex-basis: 0;
    width: auto;
    --col: 12;
  }

  .col-auto\:lt {
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-1\:lt {
    --col: 1;
  }

  .col-2\:lt {
    --col: 2;
  }

  .col-3\:lt {
    --col: 3;
  }

  .col-4\:lt {
    --col: 4;
  }

  .col-5\:lt {
    --col: 5;
  }

  .col-6\:lt {
    --col: 6;
  }

  .col-7\:lt {
    --col: 7;
  }

  .col-8\:lt {
    --col: 8;
  }

  .col-9\:lt {
    --col: 9;
  }

  .col-10\:lt {
    --col: 10;
  }

  .col-11\:lt {
    --col: 11;
  }

  .col-12\:lt {
    --col: 12;
  }

  .offset-1\:lt {
    --offset: 8.33333%;
  }

  .offset-2\:lt {
    --offset: 16.66667%;
  }

  .offset-3\:lt {
    --offset: 25%;
  }

  .offset-4\:lt {
    --offset: 33.33333%;
  }

  .offset-5\:lt {
    --offset: 41.66667%;
  }

  .offset-6\:lt {
    --offset: 50%;
  }

  .offset-7\:lt {
    --offset: 58.33333%;
  }

  .offset-8\:lt {
    --offset: 66.66667%;
  }

  .offset-9\:lt {
    --offset: 75%;
  }

  .offset-10\:lt {
    --offset: 83.33333%;
  }

  .offset-11\:lt {
    --offset: 91.66667%;
  }

  .no-offset\:lt {
    --offset: 0%;
  }

  .box-x\:lt {
    flex-direction: row;
  }

  .box-x\:lt[class*=" lvl-"],
  .box-x\:lt[class|="lvl"] {
    align-items: var(--align);
    justify-content: var(--justify);
  }

  .box-y\:lt {
    flex-direction: column;
  }

  .box-y\:lt[class*=" lvl-"],
  .box-y\:lt[class|="lvl"] {
    align-items: var(--justify);
    justify-content: var(--align);
  }

  .hide\:lt {
    --display-flex: none;
    --display-block: none;
  }

  .show\:lt {
    --display-flex: flex;
    --display-block: block;
  }

  .invisible\:lt {
    visibility: hidden;
  }

  .visible\:lt {
    visibility: visible;
  }

  .size\:lt {
    --size: var(--size-default);
  }

  .size-xs\:lt {
    --size: var(--size-xs);
  }

  .size-sm\:lt {
    --size: var(--size-sm);
  }

  .size-md\:lt {
    --size: var(--size-md);
  }

  .size-lg\:lt {
    --size: var(--size-lg);
  }

  .size-xl\:lt {
    --size: var(--size-xl);
  }

  .size-hg\:lt {
    --size: var(--size-hg);
  }

  .size-xh\:lt {
    --size: var(--size-xh);
  }

  .lvl-left\:lt {
    --justify: flex-start;
  }

  .lvl-right\:lt {
    --justify: flex-end;
  }

  .lvl-top\:lt {
    --align: flex-start;
  }

  .lvl-bottom\:lt {
    --align: flex-end;
  }

  .lvl-center\:lt {
    --justify: center;
    --align: center;
  }

  .lvl-x-center\:lt {
    --justify: center;
  }

  .lvl-y-center\:lt {
    --align: center;
  }

  .lvl-x-between\:lt {
    --justify: space-between;
  }

  .lvl-y-between\:lt {
    --align: space-between;
  }

  .lvl-default\:lt {
    --justify: normal;
    --align: normal;
  }

  .lvl-x-default\:lt {
    --justify: normal;
  }

  .lvl-y-default\:lt {
    --align: normal;
  }

  .spacing-no\:lt {
    margin: 0px;
  }

  .spacing-left-sm\:lt {
    margin-left: 4px;
  }

  .spacing-left\:lt {
    margin-left: 8px;
  }

  .spacing-left-md\:lt {
    margin-left: 16px;
  }

  .spacing-left-lg\:lt {
    margin-left: 24px;
  }

  .spacing-left-xl\:lt {
    margin-left: 32px;
  }

  .spacing-right-sm\:lt {
    margin-right: 4px;
  }

  .spacing-right\:lt {
    margin-right: 8px;
  }

  .spacing-right-md\:lt {
    margin-right: 16px;
  }

  .spacing-right-lg\:lt {
    margin-right: 24px;
  }

  .spacing-right-xl\:lt {
    margin-right: 32px;
  }

  .spacing-top-sm\:lt {
    margin-top: 4px;
  }

  .spacing-top\:lt {
    margin-top: 8px;
  }

  .spacing-top-md\:lt {
    margin-top: 16px;
  }

  .spacing-top-lg\:lt {
    margin-top: 24px;
  }

  .spacing-top-xl\:lt {
    margin-top: 32px;
  }

  .spacing-bottom-sm\:lt {
    margin-bottom: 4px;
  }

  .spacing-bottom\:lt {
    margin-bottom: 8px;
  }

  .spacing-bottom-md\:lt {
    margin-bottom: 16px;
  }

  .spacing-bottom-lg\:lt {
    margin-bottom: 24px;
  }

  .spacing-bottom-xl\:lt {
    margin-bottom: 32px;
  }

  .spacing-x-sm\:lt {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .spacing-x\:lt {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .spacing-x-md\:lt {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .spacing-x-lg\:lt {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .spacing-x-xl\:lt {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .spacing-y-sm\:lt {
    margin-right: 4px;
    margin-left: 4px;
  }

  .spacing-y\:lt {
    margin-right: 8px;
    margin-left: 8px;
  }

  .spacing-y-md\:lt {
    margin-right: 16px;
    margin-left: 16px;
  }

  .spacing-y-lg\:lt {
    margin-right: 24px;
    margin-left: 24px;
  }

  .spacing-y-xl\:lt {
    margin-right: 32px;
    margin-left: 32px;
  }

  .spacing-sm\:lt {
    margin: 4px;
  }

  .spacing\:lt {
    margin: 8px;
  }

  .spacing-md\:lt {
    margin: 16px;
  }

  .spacing-lg\:lt {
    margin: 24px;
  }

  .spacing-xl\:lt {
    margin: 32px;
  }

  .indent-sm\:lt {
    padding: 4px;
  }

  .indent\:lt {
    padding: 8px;
  }

  .indent-md\:lt {
    padding: 16px;
  }

  .indent-lg\:lt {
    padding: 24px;
  }

  .indent-xl\:lt {
    padding: 32px;
  }

  .indent-x-sm\:lt {
    padding-right: 4px;
    padding-left: 4px;
  }

  .indent-x\:lt {
    padding-right: 8px;
    padding-left: 8px;
  }

  .indent-x-md\:lt {
    padding-right: 16px;
    padding-left: 16px;
  }

  .indent-x-lg\:lt {
    padding-right: 24px;
    padding-left: 24px;
  }

  .indent-x-xl\:lt {
    padding-right: 32px;
    padding-left: 32px;
  }

  .indent-y-sm\:lt {
    padding: 4px 0;
  }

  .indent-y\:lt {
    padding: 8px 0;
  }

  .indent-y-md\:lt {
    padding: 16px 0;
  }

  .indent-y-lg\:lt {
    padding: 24px 0;
  }

  .indent-y-xl\:lt {
    padding: 32px 0;
  }

  .indent-no\:lt {
    padding: 0px;
  }
}

@media (min-width: 1280px) {
  :root {
    --gap: 16px;
    --container-size: 1248px;
  }

  .container\:dt {
    max-width: var(--container-size);
  }

  .grid--row-col-1\:dt > * {
    --col: 1;
  }

  .grid--row-col-2\:dt > * {
    --col: 2;
  }

  .grid--row-col-3\:dt > * {
    --col: 3;
  }

  .grid--row-col-4\:dt > * {
    --col: 4;
  }

  .grid--row-col-5\:dt > * {
    --col: 5;
  }

  .grid--row-col-6\:dt > * {
    --col: 6;
  }

  .grid--no-gap\:dt {
    --grid-gap: 0px;
  }

  .grid--no-gap\:dt > * {
    --col-gap: 0px;
  }

  .grid--gap\:dt {
    --grid-gap: calc(var(--gap) / -1);
  }

  .grid--gap\:dt > * {
    --col-gap: var(--gap);
  }

  .col\:dt {
    flex-basis: 0;
    width: auto;
    --col: 12;
  }

  .col-auto\:dt {
    flex: 0 0 auto;
    width: auto;
    --col: 12;
  }

  .col-1\:dt {
    --col: 1;
  }

  .col-2\:dt {
    --col: 2;
  }

  .col-3\:dt {
    --col: 3;
  }

  .col-4\:dt {
    --col: 4;
  }

  .col-5\:dt {
    --col: 5;
  }

  .col-6\:dt {
    --col: 6;
  }

  .col-7\:dt {
    --col: 7;
  }

  .col-8\:dt {
    --col: 8;
  }

  .col-9\:dt {
    --col: 9;
  }

  .col-10\:dt {
    --col: 10;
  }

  .col-11\:dt {
    --col: 11;
  }

  .col-12\:dt {
    --col: 12;
  }

  .offset-1\:dt {
    --offset: 8.33333%;
  }

  .offset-2\:dt {
    --offset: 16.66667%;
  }

  .offset-3\:dt {
    --offset: 25%;
  }

  .offset-4\:dt {
    --offset: 33.33333%;
  }

  .offset-5\:dt {
    --offset: 41.66667%;
  }

  .offset-6\:dt {
    --offset: 50%;
  }

  .offset-7\:dt {
    --offset: 58.33333%;
  }

  .offset-8\:dt {
    --offset: 66.66667%;
  }

  .offset-9\:dt {
    --offset: 75%;
  }

  .offset-10\:dt {
    --offset: 83.33333%;
  }

  .offset-11\:dt {
    --offset: 91.66667%;
  }

  .no-offset\:dt {
    --offset: 0%;
  }

  .box-x\:dt {
    flex-direction: row;
  }

  .box-x\:dt[class*=" lvl-"],
  .box-x\:dt[class|="lvl"] {
    align-items: var(--align);
    justify-content: var(--justify);
  }

  .box-y\:dt {
    flex-direction: column;
  }

  .box-y\:dt[class*=" lvl-"],
  .box-y\:dt[class|="lvl"] {
    align-items: var(--justify);
    justify-content: var(--align);
  }

  .hide\:dt {
    --display-flex: none;
    --display-block: none;
  }

  .show\:dt {
    --display-flex: flex;
    --display-block: block;
  }

  .invisible\:dt {
    visibility: hidden;
  }

  .visible\:dt {
    visibility: visible;
  }

  .size\:dt {
    --size: var(--size-default);
  }

  .size-xs\:dt {
    --size: var(--size-xs);
  }

  .size-sm\:dt {
    --size: var(--size-sm);
  }

  .size-md\:dt {
    --size: var(--size-md);
  }

  .size-lg\:dt {
    --size: var(--size-lg);
  }

  .size-xl\:dt {
    --size: var(--size-xl);
  }

  .size-hg\:dt {
    --size: var(--size-hg);
  }

  .size-xh\:dt {
    --size: var(--size-xh);
  }

  .lvl-left\:dt {
    --justify: flex-start;
  }

  .lvl-right\:dt {
    --justify: flex-end;
  }

  .lvl-top\:dt {
    --align: flex-start;
  }

  .lvl-bottom\:dt {
    --align: flex-end;
  }

  .lvl-center\:dt {
    --justify: center;
    --align: center;
  }

  .lvl-x-center\:dt {
    --justify: center;
  }

  .lvl-y-center\:dt {
    --align: center;
  }

  .lvl-x-between\:dt {
    --justify: space-between;
  }

  .lvl-y-between\:dt {
    --align: space-between;
  }

  .lvl-default\:dt {
    --justify: normal;
    --align: normal;
  }

  .lvl-x-default\:dt {
    --justify: normal;
  }

  .lvl-y-default\:dt {
    --align: normal;
  }

  .spacing-no\:dt {
    margin: 0px;
  }

  .spacing-left-sm\:dt {
    margin-left: 4px;
  }

  .spacing-left\:dt {
    margin-left: 8px;
  }

  .spacing-left-md\:dt {
    margin-left: 16px;
  }

  .spacing-left-lg\:dt {
    margin-left: 24px;
  }

  .spacing-left-xl\:dt {
    margin-left: 32px;
  }

  .spacing-right-sm\:dt {
    margin-right: 4px;
  }

  .spacing-right\:dt {
    margin-right: 8px;
  }

  .spacing-right-md\:dt {
    margin-right: 16px;
  }

  .spacing-right-lg\:dt {
    margin-right: 24px;
  }

  .spacing-right-xl\:dt {
    margin-right: 32px;
  }

  .spacing-top-sm\:dt {
    margin-top: 4px;
  }

  .spacing-top\:dt {
    margin-top: 8px;
  }

  .spacing-top-md\:dt {
    margin-top: 16px;
  }

  .spacing-top-lg\:dt {
    margin-top: 24px;
  }

  .spacing-top-xl\:dt {
    margin-top: 32px;
  }

  .spacing-bottom-sm\:dt {
    margin-bottom: 4px;
  }

  .spacing-bottom\:dt {
    margin-bottom: 8px;
  }

  .spacing-bottom-md\:dt {
    margin-bottom: 16px;
  }

  .spacing-bottom-lg\:dt {
    margin-bottom: 24px;
  }

  .spacing-bottom-xl\:dt {
    margin-bottom: 32px;
  }

  .spacing-x-sm\:dt {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .spacing-x\:dt {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .spacing-x-md\:dt {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .spacing-x-lg\:dt {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .spacing-x-xl\:dt {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .spacing-y-sm\:dt {
    margin-right: 4px;
    margin-left: 4px;
  }

  .spacing-y\:dt {
    margin-right: 8px;
    margin-left: 8px;
  }

  .spacing-y-md\:dt {
    margin-right: 16px;
    margin-left: 16px;
  }

  .spacing-y-lg\:dt {
    margin-right: 24px;
    margin-left: 24px;
  }

  .spacing-y-xl\:dt {
    margin-right: 32px;
    margin-left: 32px;
  }

  .spacing-sm\:dt {
    margin: 4px;
  }

  .spacing\:dt {
    margin: 8px;
  }

  .spacing-md\:dt {
    margin: 16px;
  }

  .spacing-lg\:dt {
    margin: 24px;
  }

  .spacing-xl\:dt {
    margin: 32px;
  }

  .indent-sm\:dt {
    padding: 4px;
  }

  .indent\:dt {
    padding: 8px;
  }

  .indent-md\:dt {
    padding: 16px;
  }

  .indent-lg\:dt {
    padding: 24px;
  }

  .indent-xl\:dt {
    padding: 32px;
  }

  .indent-x-sm\:dt {
    padding-right: 4px;
    padding-left: 4px;
  }

  .indent-x\:dt {
    padding-right: 8px;
    padding-left: 8px;
  }

  .indent-x-md\:dt {
    padding-right: 16px;
    padding-left: 16px;
  }

  .indent-x-lg\:dt {
    padding-right: 24px;
    padding-left: 24px;
  }

  .indent-x-xl\:dt {
    padding-right: 32px;
    padding-left: 32px;
  }

  .indent-y-sm\:dt {
    padding: 4px 0;
  }

  .indent-y\:dt {
    padding: 8px 0;
  }

  .indent-y-md\:dt {
    padding: 16px 0;
  }

  .indent-y-lg\:dt {
    padding: 24px 0;
  }

  .indent-y-xl\:dt {
    padding: 32px 0;
  }

  .indent-no\:dt {
    padding: 0px;
  }
}