@mixin grid(
                $lvl: _value($_lvl, 'grid')
) {
    //* Если в переменной $_lvl, 'grid' значение не равно 1 и в миксе значение заданно 1 то увеличиваем лвл до 2
    //* Это требуется чтобы не возникал конфликт при отсутствие placeholder %grid-*
    @if $lvl == 1 and _value($_lvl, 'grid') != 1 {
        $lvl: 2;
    }  
    //* Вывод в 4pt.scss
    @if $_4pt-var-css {
        @include _lvl($lvl, 'default', 'grid', (
            --grid-gap: var(--gap),
            display: flex,
            flex-wrap: wrap,
            margin-left: calc(var(--grid-gap) / -2),
            margin-right: calc(var(--grid-gap) / -2) 
        ));
    }
    //* Вывод в 4pt-support.scss
    @else {
        @each $bp in (map-keys(map-remove($grid, 'setting'))) {
            //* Защита. Если есть значение на контрольной точки то выводим:
            @if _value($grid, 'gap' , $bp) {
                @include _lvl($lvl, $bp, 'grid', (
                    margin-left: _value($grid, 'gap' , $bp) / -2,
                    margin-right: _value($grid, 'gap' , $bp) / -2
                ));    
            }       
        }
    }
}