//* lightness - 
.theme-l {
    @each $value in $mod-theme-saturation-lightness {
        &-#{$value}, 
        &-#{$value}\:bg  {
            --l-bg:#{$value}#{'%'};
        }
        &-#{$value}\:text {
            --l-color:#{$value}#{'%'};
        }
        &-#{$value}\:br {
            --l-br:#{$value}#{'%'};
        }
    }  
}