.lvl-default {
    @each $bp in _bp() {
        @include _media($bp, true) {
            --justify: normal;
            --align: normal;
        }
    }
}
.lvl-x-default {
    @each $bp in _bp() {
        @include _media($bp, true) {
            --justify: normal;
        }
    }
}
.lvl-y-default {
    @each $bp in _bp() {
        @include _media($bp, true) {
            --align: normal;
        }
    }
}

