//*
.grid--no-gap {
    --grid-gap: 0px;
    & > * {
        --col-gap: 0px;
    }
    //*
    @each $bp in map-keys(map-remove($grid, 'default', 'setting')) {
        &\:#{$bp} {
            @include _media($bp) {
                --grid-gap: 0px;
                & > * {
                    --col-gap: 0px;
                }
            }
        }
    }
}