<!DOCTYPE html>
<html class="_4pt" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/4pt.css">
    <link rel="stylesheet" href="css/4pt-support.css">
    <script src="js/support.js"></script>
    <style>
        [class*="col-"], 
        .col {
            background-color: rgba(255, 0, 179, 0.336);
            margin-bottom: 10px;
        }
        .container,
        .container-sm,
        .container-md,
        .container-lg,
        .container-xl,
        .container-full {
            background-color: rgba(0, 255, 234, 0.158);
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    @@include('_template.html')
</body>
</html>