@if _output('modifiers', $_import) and _output('size', $modifiers-output) {
.m\:size {
    //*
    @each $name, $value in $size-valye {
        &-#{$name} {
            @include _media('for name bp + default') {
                --size-valye: #{$value};
            }
        }
    }
    //*
    @for $i from 1 through length($size-n) {
        &-#{$i}n {
            @include _media('for name bp + default') {
                --size: #{nth($size-n, $i)};
            }
        }
    }
    //*
    @for $i from 1 through length($size-n) {
        &-#{$i}n {
            @include _media('for name bp + default') {
                --size: #{nth($size-n, $i)};
            }
        }
    }
    @for $i from 1 through 4 {
        &-x#{$i} {
            @include _media('for name bp + default') {
                --size: #{$i};
            }
        }
    }
    //*
}
//.m\:size-x {
//    @each $name, $value in $size-valye {
//        &-#{$name} {
//            @include _media('for name bp + default') {
//                --size-valye-x: calc(#{$value} * var(--size));
//            }
//        }
//    }
//    @for $i from 1 through length($size) {
//        &-#{$i} {
//            @include _media('for name bp + default') {
//                --size-x: #{nth($size, $i)};
//            }
//        }
//    }
//}
//.m\:size-y {
//    @each $name, $value in $size-valye {
//        &-#{$name} {
//            @include _media('for name bp + default') {
//                --size-valye-y: calc(#{$value} * var(--size));
//            }
//        }
//    }
//    @for $i from 1 through length($size) {
//        &-#{$i} {
//            @include _media('for name bp + default') {
//                --size-y: #{nth($size, $i)};
//            }
//        }
//    }
//}

}