//* Контрольные точки для циклов
@function _bp(
                $has: false,            //* Сравнение $bp с переменной $breakpoints
                $bp: 'default',         //* Контрольная точка
                $no-default: false      //* Вывод контрольных точек без 'default'
               ){
    @if $no-default {
        @if $has {
            //* Возведение в Boolean
            @return not(not(index(map-keys($breakpoints), $bp)));
        }
        @else {
            //* Возвращаем список с контрольными точками
            @return map-keys($breakpoints);
        }  
    }   
    @else {
        @if $has {
                    //* Возведение в Boolean
            @return not(not(index(join('default', map-keys($breakpoints)), $bp)));
        }
        @else {
            //* Возвращаем список с контрольными точками
            @return join('default', map-keys($breakpoints));
        }        
    }      

}