//* Проверка значений на контрольных точек
@function _bp(  
                $mod: 'min',            //* Тип модификации в переменной $breakpoints
                $comparison: false,     //* Сравнение на $bp в переменной $breakpoints
                $bp: 'default'          //* breakpoint
) {
    @if $mod == 'min' {
        @if $comparison {
                    //* Возведение в Boolean
            @return not(not(index(join('default', map-keys( map-get($breakpoints, 'min'))), $bp)));
        }
        @else {
            @return join('default', map-keys(map-get($breakpoints, 'min')));
        }
    }
    @else if $mod == 'only'{
        @if $comparison {
                    //* Возведение в Boolean
            @return not(not(index(join('default', map-keys(map-get($breakpoints, 'only'))), $bp)));
        }
        @else {
            @return join('default', map-keys(map-get($breakpoints, 'only')));
        }
    }
    @else {
        @warn 'Error mod - min or only';
        @return null;
    }
}