.btn {
    --size: 1;
    padding: calc(0.5rem * var(--size)) calc(1rem * var(--size));
    font-size: calc(1rem * var(--size));
    line-height: 1em;
    white-space: nowrap;
    border: none;
    border-radius: 0.25rem;
    //*
    appearance: none;
    //*
    cursor: pointer;
    //*
    user-select: none;
}