$breakpoints:(
    'min':(
        sm: 540px,     // phablet
        md: 768px,     // tablet
        lg: 1000px,    // laptop
        xl: 1280px     // desktop
    ),
    'only':(
        xs: 540px,     // mobile
        sm: 540px,     // phablet
        md: 768px,     // tablet
        lg: 1000px,    // laptop
        xl: 1280px     // desktop
    ),
    'list':(
        'default',
        'xs',
        'sm',
        'md',
        'lg',
        'xl'
    ),
);