@import 'breakpoints';
@import 'grid';
@import 'template-output';


$_lvl:(   
   grid: 1,
   grid-container:1,
   grid-col: 1,
   grid-gap: 1,
   grid-offset: 1,
);

$rounded: (
   'default':2,
   //
   'small': 1,
   'medium': 3, 
   'large':4
);