@if _output('grid', $_import) and _output('grid', $grid-output) {

.grid {
    @if _output('modifiers', $_import) and _output('size', $modifiers-output) {
        --size:1;
        --size-valye: 2;
        --grid-gap-x: calc((var(--gap-x) * var(--size-valye)) * var(--size) );
    }
    @else {
        --grid-gap-x: var(--gap-x);
    }
    --grid-gap-y: var(--gap-y);
    --grid-columns: var(--columns);
    --dp-grid: grid;
    display: var(--dp-grid);
    grid-template-columns: repeat(var(--grid-columns), calc(((100% + var(--grid-gap-x)) / (var(--grid-columns) / 1)) - var(--grid-gap-x)));
    grid-gap: var(--grid-gap-y) var(--grid-gap-x);
    @supports (gap: var(--gap)){
        gap: var(--grid-gap-y) var(--grid-gap-x);
    }
}

}

//? --grid-track-size: calc(((100% + var(--grid-gap-x)) / (var(--grid-columns) / 1)) - var(--grid-gap-x));