.col-auto {
    @each $bp in map-keys(map-remove($grid, 'setting')) {
            @include _media($bp, true) {
                flex: 0 0 auto;
                width: auto;
                --col: #{_value($grid, 'columns', 'setting')};
            }
    }
}