%flex-row {
    display: var(--display-flex);
    @each $bp in _bp($no-default: true) {
        @include _media($bp) {
            &-#{$bp} {
                display: var(--display-flex);
            }
        }
    }
}
//*
%flex-column {
    @extend %flex-row;
    flex-direction: column;
    @each $bp in _bp($no-default: true) {
        @extend %flex-row-#{$bp};
        @include _media($bp) {
            &-#{$bp} {
                flex-direction: column;
            }
        }
    }
}
//*
%flex-wrap {
    @extend %flex-row;
    flex-wrap: wrap;
}
%flex-center {
    //*
    &-vl {
        @extend %flex-row;
        align-items: stretch;
    }
    //*
    &-hl {
        @extend %flex-row;
        justify-content: center;
    }
    //* цикл
    @each $bp in _bp($no-default: true) {
        @include _media($bp) {
            //*
            &-vl-#{$bp} {
                @extend %flex-row-#{$bp};
                align-items: center;
            }
            //*
            &-hl-#{$bp} {
                @extend %flex-row-#{$bp};
                justify-content: center;
            }
        }
    }
}