
.item-top {
    margin-bottom: auto;
}
.item-bottom {
    margin-top: auto;
}
.item-left {
    margin-right: auto;
}
.item-right {
    margin-left: auto;
}

.item-center {
    margin: auto;
}
.item-x-center {
    margin-right: auto;
    margin-left: auto;
}
.item-y-center {
    margin-top: auto;
    margin-bottom: auto;
}
