
.m\:show {

    @each $bp in _bp() {
        @if $bp == 'default' {
            --dp-flex: flex;
            --dp-grid: grid;
            --dp-block: block;
            --dp-inline: inline;
        }
        @else {
            &\@#{$bp} {
                @extend .m\:hide;
            }
       
            &\@#{$bp} {
                @include _media('default', $bp) {
                    --dp-flex: flex;
                    --dp-grid: grid;
                    --dp-block: block;
                    --dp-inline: inline;
                    //--dp-i-flex: inline-flex;
                    //--dp-i-block: inline-block;                     
                }
            }
        }
    }


}