%grid-gap {
    @if $_4pt-var-css {
        &-default {
            padding-left: calc(var(--gap) / 2);
            padding-right: calc(var(--gap) / 2);
        }
    }
    @else {
        &-padding {
            padding-left: _value($grid, 'gap', 'default') / 2;
            padding-right: _value($grid, 'gap', 'default') / 2; 
            @each $bp in (map-keys(map-remove($grid, 'default', 'setting'))) {
                @if _value($grid, 'gap' , $bp) {
                    @include media($bp) {
                        &-#{$bp} {
                            padding-left: _value($grid, 'gap', $bp) / 2;
                            padding-right: _value($grid, 'gap', $bp) / 2; 
                        }
                    } 
                }
            } 
        }
    }
}
