%grid {
    //* Вывод в 4pt.scss
    @if $_4pt-var-css {
        --grid-gap: var(--gap);
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(var(--grid-gap) / -2);
        margin-right: calc(var(--grid-gap) / -2);        
    }
    //* Вывод в 4pt-support.scss
    @else {
        margin-left: _value($grid, 'gap' , 'default') / -2;
        margin-right: _value($grid, 'gap' , 'default') / -2;
        @each $bp in (map-keys(map-remove($grid, 'default', 'setting'))) {
            //* Защита. Если есть значение на контрольной точки то выводим:
            @if _value($grid, 'gap' , $bp) {
                @include media($bp) { 
                    &-#{$bp} {
                        margin-left: _value($grid, 'gap' , $bp) / -2;
                        margin-right: _value($grid, 'gap' , $bp) / -2;  
                    } 
                }   
            }
        }    
    }
}
