$theme:(
    primary: (
        hsl:#5755d9,
        color: 'light'
        ),
    secondary:(
        hsl:#43d384,
        color: 'light'
        ),
    dark: (
        hsl:#303742,
        color: 'light'
        ),
    gray: (
        hsl: #f7f8f9,
        color: 'dark'
        ),
    light: (
        hsl:#f5f5f5,
        color: 'dark'
        ),
    success: (
        hsl:#32b643,
        color: 'light'
        ),
    warning: (
        hsl:#ffb700,
        color: 'dark'
        ),
    error: (
        hsl:#e85600,
        color: 'light'
        ),
);